global-include *.txt
global-include *.rst
global-include *.zcml
global-include *.xml
global-include *.pt
global-include *.png
global-include *.po
global-include *.pot
global-include *.gif
global-include *.js